body {
    padding: 0;
    margin: 0;
  }
  /* Top */
  .top {
    display: grid;
    grid-template-columns: 15% 85%;
    background-image: url(./fonts/bc1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 70px;
  }
  .title {
    font-size: 1.7rem;
    margin: auto 0;
    
  }
  .title:hover {
    cursor: pointer;
    color: white;
    transition: 200ms;
  }
  .nav-bar {
    text-align: center;
  }
  .top ul li {
    display: inline-block;
    font-size: 1rem;
    padding: 0 50px;  
    cursor: pointer;
   
    font-weight: bold;
    font-family: sans-serif;
  }
  .top ul li:hover {
    color: white;
  }
  /* 
  i {
    display: inline-block;
    font-style: normal;
    position: relative;
    margin-left: 3px;
    margin-top: 3px;
  } */
  
  /* Additional formatting for arrow icon */
  /* i.arrow {
  
      width: 0.6em;
      height: 0.6em;
      border-right: 0.4em solid black;
      border-top: 0.4em solid black;
      transform: rotate(45deg);
  } */
  /* 45; Right, 135: down, 225: left, 215: top*/
  
  .algo-window {
  
    width: 800px;
    margin: 0 auto;
    position:relative;
    background-image: url('./fonts/bc2.jpg');
    background-size: cover;;
    border-radius: 20px;
  }
  
  .algorithms-wrapper div.algo-box {
    padding: 10px;
    text-align: center;
  }
  .algorithms-wrapper div.algo-box button {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background-color: transparent;
    width: 770px;;
    height: 80px;
    cursor: pointer;
    border: none;
    font-size: 2rem;
    transition: 220ms;
    border-radius: 20px;
   
  }
  .algo-window-title {
    padding-top: 10px;
  }
  .algorithms-wrapper div.algo-box button:hover {
    color: white;
    border: solid 1px rgb(255, 255, 255);
    background: linear-gradient(to left, rgb(6, 143, 136) 50%, rgb(186, 210, 218) 50%) right;
      background-size: 200%;
      transition: .5s ease-out;
  }
  .algo-window-title {
    padding-left: 20px;
  }
  
  #vizualize-algorithm {
   
    font-size: 1.2rem;
    border: solid 2px blue;
    border-radius: 5px;
    padding: 10px 10px;
    transition: 200ms;
    font-weight: bold;
    font-family: sans-serif;
    background: linear-gradient(to left, rgb(169, 207, 132) 50%, lightblue 50%) right;
    background-size: 200%;
    transition: .2s ease-out;
  }
  #vizualize-algorithm:hover {
    cursor: pointer;
    background-color: rgb(37, 144, 194);
    color: white;
    background-position: left;
  }